* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  overflow: hidden;
  background-image: linear-gradient(135deg, rgb(233, 58, 27), rgb(10, 42, 185));
}

.inner-body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2%;
}

.login-page {
  /* border: 0.1px solid rgb(158, 35, 196); */
  border-radius: 10px;
  margin-left: 25%;
  margin-right: 25%;
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  /* box-shadow: 0px 0px 25px rgb(158, 35, 196); */
  background-color: rgba(181, 21, 221, 0.342);
  backdrop-filter: blur(20px);
}

@media screen and (max-width: 1200px) {
  .login-page {
    width: 70%;
    margin: 10px;
    flex-direction: column;
  }
}

@media screen and (max-width: 500px) {
  .login-page {
    width: 100%;
    border-radius: 10px;
    margin-left: 2%;
    margin-right: 2%;
    flex-direction: column;
  }
}

.login-right {
  /* background-color: rgb(255, 185, 127); */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login-img {
  margin-left: 50px;
  height: auto;
  width: 80%;
}

label {
  color: white;
  font-weight: 700;
}

.chat-page {
  display: flex;
  flex-direction: row;
  height: 95vh;
  width: 100vw;
  margin: 0% 10% 10% 10%;
  border-radius: 15px;
  overflow: hidden;
  background-color: rgba(181, 21, 221, 0.342);
  backdrop-filter: blur(20px);
}

.chat-left {
  background-color: rgba(181, 21, 221, 0.342);
  flex: 0 30%;
  height: 100%;
  padding: 1% 2% 5% 2%;
  overflow: hidden;
  color: white;
}

.chat-name {
  background-color: rgba(81, 10, 99, 0.342);
  margin: 5% 0% 10% 0%;
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: 10px;
  padding: 5% 5% 5% 5%;
}
.chat-leave {
  margin: 5% 0%;
  font-weight: bold;
  background-color: rgb(146, 20, 20);
  border-radius: 10px;
  padding: 4%;
  text-align: center;
}
.chat-ID {
  margin-bottom: 2%;
  font-weight: bold;
  background-color: purple;
  border-radius: 10px;
  padding: 4%;
}
.chat-title {
  font-size: 100%;
  font-weight: bolder;
  padding: 5% 5% 5% 5%;
  background-color: purple;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

.chat-members {
  display: flex;
  flex-direction: column;
  height: 85%;
  /* background-color: aliceblue; */
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  padding: 10%;
}
.chat-members::-webkit-scrollbar {
  display: none;
}

.chat-right {
  background-color: rgba(53, 8, 65, 0.342);
  flex: 1;
  padding: 2% 2% 2% 2%;
  position: relative;
  width: auto;
}

.message-viewer {
  background-color: rgba(53, 8, 65, 0.342);
  width: 100%;
  padding: 3%;
  border-radius: 10px;
  height: 92%;
  color: whitesmoke;
  font-size: 100%;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  -ms-overflow-style: none; /*IE and Edge */
  scrollbar-width: none; /*Firefox*/
}
.message-viewer::-webkit-scrollbar {
  display: none;
}
.message-name {
  font-family: cursive;
  color: rgb(100, 48, 245);
  font-weight: bolder;
}

.message-time {
  color: gray;
  font-size: small;
}
.message-left {
  background-color: rgba(53, 8, 65, 0.342);
  border-radius: 10px;
  padding: 1% 2%;
  text-align: left;
  margin: 1% 30% 1% 0%;
  /* margin-right: 30%; */
  height: auto;
  width: fit-content;
}
.message-center {
  background-color: rgba(232, 191, 243, 0.342);
  border-radius: 20px;
  text-align: center;
  margin: 3% 2%;
  opacity: 0.7;
}
.message-right {
  background-color: rgba(53, 8, 65, 0.342);
  border-radius: 10px;
  padding: 1% 2%;
  text-align: left;
  margin: 1% 0% 1% 30%;
  /* margin-left: 30%; */
  height: auto;
  width: fit-content;
  float: right;
}

.message-box {
  position: absolute;
  bottom: 0;
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
  /* background-color: black; */
}

.send-button {
  width: fit-content;
  padding: 10px 14px;
  background-color: rgb(5, 0, 5);
  margin-left: 2%;
  border-radius: 50%;
}

.send-logo {
  color: aliceblue;
}

@media screen and (max-width: 500px) {
  .chat-page {
    width: 100%;
    border-radius: 10px;
    margin: 0%;
  }
  /* .chat-left {
    flex: 0 0%;
    height: 0%;
  } */
}
